@media screen and (max-width: 760px) {
	body {
		font-size: 65%;
	}
}

@media screen and (min-width: 1580px) {
	body {
		font-size: 100%;
	}
}

body {
	margin: 0;
}

a,
a:focus,
a:active,
a:hover {
	text-decoration: none;
}
