@media screen and (max-width: 760px) {
	body {
		font-size: 65%;
	}
}

@media screen and (min-width: 1580px) {
	body {
		font-size: 100%;
	}
}

body {
	margin: 0;
	background: linear-gradient(199deg, rgb(35, 77, 54), rgb(0, 0, 0));
}
